@using Abp.Authorization.Users
@section Scripts
{
    <script abp-src="/view-resources/Views/Account/ForgotPassword.js" asp-append-version="true"></script>
}
<div class="m-login__signin">
    <div class="m-login__head">
        <h3 class="m-login__title">
            @L("ForgotPassword")
        </h3>
    </div>
    <form class="m-login__form m-form forget-form" asp-action="SendPasswordResetLink" method="post">
        <p>
            @L("SendPasswordResetLink_Information")
        </p>
        <div class="form-group m-form__group">
            <input class="form-control placeholder-no-fix" type="email" autocomplete="off" placeholder="@L("EmailAddress")" name="EmailAddress" required maxlength="@AbpUserBase.MaxEmailAddressLength" />
        </div>
        <div class="m-login__form-action">
            <a asp-action="Login"><button type="button" id="back-btn" class="btn btn-outline-primary  m-btn m-btn--pill m-btn--custom">@L("Back")</button></a>
            <button type="submit" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--air">@L("Submit")</button>
        </div>
    </form>
</div>