@model DNAWorker.Web.Models.Account.RegisterResultViewModel
<div class="m-login__signin">
    <div class="m-login__head">
        <h3 class="m-login__title">
            @L("SuccessfullyRegistered")
        </h3>
    </div>
    <form class="m-login__form m-form login-form">
        <ul>
            <li><span class="text-muted">@L("NameSurname"):</span> @Model.NameAndSurname</li>
            <li><span class="text-muted">@L("TenancyName"):</span> @Model.TenancyName</li>
            <li><span class="text-muted">@L("UserName"):</span> @Model.UserName</li>
            <li><span class="text-muted">@L("EmailAddress"):</span> @Model.EmailAddress</li>
        </ul>
        <div>
            @if (Model.IsEmailConfirmationRequired)
            {
                <div class="alert alert-warning" role="alert">
                    @L("ConfirmationMailSentPleaseClickLinkInTheEmail", Model.EmailAddress)
                </div>
            }
            @if (!Model.IsActive)
            {
                <div class="alert alert-warning" role="alert">
                    @L("YourAccountIsWaitingToBeActivatedByAdmin")
                </div>
            }
        </div>
    </form>
</div>    