@using DNAWorker.Chat

<!-- begin::Quick Sidebar -->
<div id="m_quick_sidebar" class="m-quick-sidebar m-quick-sidebar--tabbed m-quick-sidebar--skin-light">
    <div class="m-quick-sidebar__content m--hide">
        <a href="#" id="m_quick_sidebar_back" class="d-none">
            <i class="la la-arrow-circle-left" aria-label="@L("Back")"></i>
        </a>
        <a href="javascript:;" class="page-quick-sidebar-pinner">
            <i class="icon-pin" aria-label="@L("Pin")"></i>
        </a>
        <span id="m_quick_sidebar_close" class="m-quick-sidebar__close">
            <i class="la la-close" aria-label="@L("Close")"></i>
        </span>
        <div class="m-messenger m-messenger-friends m-messenger--skin-light">
            <div class="row">
                <div class="col-md-12" style="padding-top: 30px; margin: 5px; padding-right: 25px;">
                    <div class="m-input-icon m-input-icon--right">
                        <input type="text" id="ChatUserSearchUserName" class="form-control input-sm" placeholder="@L("FilterOrAddUser")">
                        <span class="m-input-icon__icon m-input-icon__icon--right">
                            <span>
                                <i id="InterTenantChatHintIcon" class="la la-info-circle" data-toggle="m-popover" data-placement="bottom" data-html="true" title="@L("ChatUserSearch_Hint")"></i>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-md-12" style="margin: 5px; padding-right: 25px;">
                    <button id="SearchChatUserButton" type="button" class="btn btn-block btn-success d-none">@L("AddFriend")</button>
                </div>
            </div>
            <div class="m-list-search">
                <div class="m-list-search__results">
                    <span class="m-list-search__result-category">
                        @L("Friends")
                    </span>
                    <div id="friendListFriends"></div>
                    <p id="EmptyFriendListInfo">@L("YouDontHaveAnyFriend")</p>
                </div>
            </div>
            <div class="m-list-search">
                <div class="m-list-search__results">
                    <span class="m-list-search__result-category">
                        @L("BlockedUsers")
                    </span>
                    <div id="friendListBlockeds"></div>
                    <p id="EmptyBlockedFriendListInfo">@L("YouDontHaveAnyBlockedFriend")</p>
                </div>
            </div>
        </div>
        <div class="m-scrollable m-messenger-conversation" style="display: none;">
            <div class="selected-chat-user">
                <div class="selected-chat-user-image">
                    <img id="selectedChatUserImage" class="media-object">
                    <span id="selectedChatUserStatus" class="contact-status2"></span>
                </div>
                <h6 id="selectedChatUserName"></h6>
                <div class="actions">
                    <a class="btn btn-metal m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                        <i class="fa fa-angle-down" aria-label="@L("Expand")"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li id="liBanChatUser">
                            <a href="javascript:;">
                                <i class="fa fa-ban"></i>
                                @L("BlockUser")
                            </a>
                        </li>
                        <li id="liUnbanChatUser">
                            <a href="javascript:;">
                                <i class="fa fa-check"></i>
                                @L("UnblockUser")
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr />
            <div class="m-messenger m-messenger--message-arrow m-messenger--skin-light">
                <div class="m-messenger__messages" id="UserChatMessages">
                </div>
                <div class="m-messenger__seperator"></div>
                <form name="chatMessageForm" id="chatMessageForm" role="form">
                    <div id="files" class="files"></div>
                    <div class="col-md-12" style="margin: 5px; padding-right: 25px;">
                        <button id="UnblockUserButton" type="button" class="btn btn-block btn-success">@L("UnblockUser")</button>
                    </div>

                    <div class="col-md-12 chat-progress-bar">
                        <div id="chatFileUploadProgress" class="progress">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                    </div>

                    <div class="m-messenger__form" id="ChatMessageWrapper">
                        <div class="m-messenger__form-controls">
                            <input id="ChatMessage" type="text" name="message" class="m-messenger__form-input" placeholder="@L("TypeAMessageHere")" required maxlength="@ChatMessage.MaxMessageLength" />
                        </div>
                        <div class="m-messenger__form-tools">
                            <a id="chatDropdownToggle" href="" class="m-messenger__form-attachment select-media" data-toggle="dropdown" tabindex="-1" aria-expanded="false">
                                <i class="la la-paperclip" aria-label="@L("Attach")"></i>
                            </a>
                            <ul class="dropdown-menu pull-right bottom-up" role="menu">
                                <li>
                                    <a href="javascript:;">
                                        <span class="fileinput-button">
                                            <i class="fa fa-camera" aria-hidden="true"></i>
                                            <span>@L("Image")</span>
                                            <!-- The file input field used as target for the file upload widget -->
                                            <input id="chatImageUpload" type="file" name="files">
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="fileinput-button">
                                            <i class="fa fa-file" aria-hidden="true"></i>
                                            <span>@L("File")</span>
                                            <!-- The file input field used as target for the file upload widget -->
                                            <input id="chatFileUpload" type="file" name="files">
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" id="btnLinkShare">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                        <span>@L("LinkToCurrentPage")</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end::Quick Sidebar -->

<script id="UserFriendTemplate" type="x-tmpl-mustache">
    {{#.}}
    <a href="#" class="m-list-search__result-item" data-friend-tenant-id="{{friendTenantId}}" data-friend-user-id="{{friendUserId}}">
        <span class="m-list-search__result-item-pic">
            <img class="m--img-rounded" src="{{profilePicturePath}}" title="">
        </span>
        <span class="m-list-search__result-item-text">
            {{shownUserName}}
        </span>

        {{#unreadMessageCount}}
        <span class="m-badge m-badge--warning">
            {{unreadMessageCount}}
        </span>
        {{/unreadMessageCount}}

        {{^unreadMessageCount}}
        <span class="m-badge m-badge--warning d-none">
            {{unreadMessageCount}}
        </span>
        {{/unreadMessageCount}}

        {{#isOnline}}
        <span class="contact-status1 online"></span>
        {{/isOnline}}

        {{^isOnline}}
        <span class="contact-status1 offline"></span>
        {{/isOnline}}
    </a>
    {{/.}}
</script>

<script id="UserChatMessageTemplate" type="x-tmpl-mustache">
    {{#.}}
    <div class="m-messenger__message {{cssClass}}">
        {{#isIn}}
        <div class="m-messenger__message-pic">
            <img src="{{profilePicturePath}}" alt="" class="mCS_img_loaded">
        </div>
        {{/isIn}}
        <div class="m-messenger__message-body">
            <div class="m-messenger__message-arrow"></div>
            <div class="m-messenger__message-content">
                <div class="m-messenger__message-username">
                    <span>{{shownUserName}}</span>
                    <time class="timeago" datetime="{{creationTime}}"></time> {{{readStateCheck}}}
                </div>
                <div class="m-messenger__message-text">
                    {{{message}}}
                </div>
            </div>
        </div>
    </div>
    {{/.}}
</script>