table.dataTable {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
  border-collapse: separate !important;
  border-spacing: 0;
}
table.dataTable td,
table.dataTable th {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
table.dataTable td.dataTables_empty,
table.dataTable th.dataTables_empty {
  text-align: center;
}
table.dataTable.nowrap th,
table.dataTable.nowrap td {
  white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_length label {
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
}
div.dataTables_wrapper div.dataTables_length select {
  width: auto;
  display: inline-block;
}
div.dataTables_wrapper div.dataTables_filter {
  text-align: right;
}
div.dataTables_wrapper div.dataTables_filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
}
div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
}
div.dataTables_wrapper div.dataTables_info {
  padding-top: 0.85em;
  white-space: nowrap;
}
div.dataTables_wrapper div.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
  justify-content: flex-end;
}
div.dataTables_wrapper div.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -26px;
  text-align: center;
  padding: 1em 0;
}

table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
  padding-right: 30px;
}
table.dataTable thead > tr > th:active,
table.dataTable thead > tr > td:active {
  outline: none;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 0.9em;
  display: block;
  opacity: 0.3;
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
  right: 1em;
  content: "\2191";
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  right: 0.5em;
  content: "\2193";
}
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:after {
  opacity: 1;
}
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
  opacity: 0;
}

div.dataTables_scrollHead table.dataTable {
  margin-bottom: 0 !important;
}

div.dataTables_scrollBody table {
  border-top: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
div.dataTables_scrollBody table thead .sorting:before,
div.dataTables_scrollBody table thead .sorting_asc:before,
div.dataTables_scrollBody table thead .sorting_desc:before,
div.dataTables_scrollBody table thead .sorting:after,
div.dataTables_scrollBody table thead .sorting_asc:after,
div.dataTables_scrollBody table thead .sorting_desc:after {
  display: none;
}
div.dataTables_scrollBody table tbody tr:first-child th,
div.dataTables_scrollBody table tbody tr:first-child td {
  border-top: none;
}

div.dataTables_scrollFoot > .dataTables_scrollFootInner {
  box-sizing: content-box;
}
div.dataTables_scrollFoot > .dataTables_scrollFootInner > table {
  margin-top: 0 !important;
  border-top: none;
}

@media screen and (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_length,
  div.dataTables_wrapper div.dataTables_filter,
  div.dataTables_wrapper div.dataTables_info,
  div.dataTables_wrapper div.dataTables_paginate {
    text-align: center;
  }
}
table.dataTable.table-sm > thead > tr > th {
  padding-right: 20px;
}
table.dataTable.table-sm .sorting:before,
table.dataTable.table-sm .sorting_asc:before,
table.dataTable.table-sm .sorting_desc:before {
  top: 5px;
  right: 0.85em;
}
table.dataTable.table-sm .sorting:after,
table.dataTable.table-sm .sorting_asc:after,
table.dataTable.table-sm .sorting_desc:after {
  top: 5px;
}

table.table-bordered.dataTable th,
table.table-bordered.dataTable td {
  border-left-width: 0;
}
table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable td:last-child,
table.table-bordered.dataTable td:last-child {
  border-right-width: 0;
}
table.table-bordered.dataTable tbody th,
table.table-bordered.dataTable tbody td {
  border-bottom-width: 0;
}

div.dataTables_scrollHead table.table-bordered {
  border-bottom-width: 0;
}

div.table-responsive > div.dataTables_wrapper > div.row {
  margin: 0;
}
div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child {
  padding-left: 0;
}
div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child {
  padding-right: 0;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.child,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.child,
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty {
  cursor: default !important;
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td.child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty:before {
  display: none !important;
}
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child,
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
  top: 12px;
  left: 4px;
  height: 14px;
  width: 14px;
  display: block;
  position: absolute;
  color: white;
  border: 2px solid white;
  border-radius: 14px;
  box-shadow: 0 0 3px #444;
  box-sizing: content-box;
  text-align: center;
  text-indent: 0 !important;
  font-family: 'Courier New', Courier, monospace;
  line-height: 14px;
  content: '+';
  background-color: #0275d8;
}
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
  content: '-';
  background-color: #d33333;
}
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:first-child,
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:first-child {
  padding-left: 27px;
}
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:first-child:before {
  top: 5px;
  left: 4px;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  line-height: 14px;
  text-indent: 3px;
}
table.dataTable.dtr-column > tbody > tr > td.control,
table.dataTable.dtr-column > tbody > tr > th.control {
  position: relative;
  cursor: pointer;
}
table.dataTable.dtr-column > tbody > tr > td.control:before,
table.dataTable.dtr-column > tbody > tr > th.control:before {
  top: 50%;
  left: 50%;
  height: 16px;
  width: 16px;
  margin-top: -10px;
  margin-left: -10px;
  display: block;
  position: absolute;
  color: white;
  border: 2px solid white;
  border-radius: 14px;
  box-shadow: 0 0 3px #444;
  box-sizing: content-box;
  text-align: center;
  text-indent: 0 !important;
  font-family: 'Courier New', Courier, monospace;
  line-height: 14px;
  content: '+';
  background-color: #0275d8;
}
table.dataTable.dtr-column > tbody > tr.parent td.control:before,
table.dataTable.dtr-column > tbody > tr.parent th.control:before {
  content: '-';
  background-color: #d33333;
}
table.dataTable > tbody > tr.child {
  padding: 0.5em 1em;
}
table.dataTable > tbody > tr.child:hover {
  background: transparent !important;
}
table.dataTable > tbody > tr.child ul.dtr-details {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
table.dataTable > tbody > tr.child ul.dtr-details > li {
  border-bottom: 1px solid #efefef;
  padding: 0.5em 0;
}
table.dataTable > tbody > tr.child ul.dtr-details > li:first-child {
  padding-top: 0;
}
table.dataTable > tbody > tr.child ul.dtr-details > li:last-child {
  border-bottom: none;
}
table.dataTable > tbody > tr.child span.dtr-title {
  display: inline-block;
  min-width: 75px;
  font-weight: bold;
}

div.dtr-modal {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  padding: 10em 1em;
}
div.dtr-modal div.dtr-modal-display {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  z-index: 102;
  overflow: auto;
  background-color: #f5f5f7;
  border: 1px solid black;
  border-radius: 0.5em;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
}
div.dtr-modal div.dtr-modal-content {
  position: relative;
  padding: 1em;
}
div.dtr-modal div.dtr-modal-close {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 22px;
  height: 22px;
  border: 1px solid #eaeaea;
  background-color: #f9f9f9;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  z-index: 12;
}
div.dtr-modal div.dtr-modal-close:hover {
  background-color: #eaeaea;
}
div.dtr-modal div.dtr-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 767px) {
  div.dtr-modal div.dtr-modal-display {
    width: 95%;
  }
}
div.dtr-bs-modal table.table tr:first-child td {
  border-top: none;
}

.famfamfam-flags {
  background: url('#\local\DNAWorker\Web\src\DNAWorker.Web.Mvc\wwwroot\lib\famfamfam-flags\dist\sprite\famfamfam-flags.png') no-repeat;
  background-size: 224px 199px;
}

.famfamfam-flags.me {
  width: 16px;
  height: 12px;
  background-position: 0px 0px;
}

.famfamfam-flags.ky {
  width: 16px;
  height: 11px;
  background-position: -16px 0px;
}

.famfamfam-flags.af {
  width: 16px;
  height: 11px;
  background-position: 0px -12px;
}

.famfamfam-flags.ag {
  width: 16px;
  height: 11px;
  background-position: -16px -12px;
}

.famfamfam-flags.ai {
  width: 16px;
  height: 11px;
  background-position: -32px 0px;
}

.famfamfam-flags.al {
  width: 16px;
  height: 11px;
  background-position: -32px -11px;
}

.famfamfam-flags.am {
  width: 16px;
  height: 11px;
  background-position: 0px -23px;
}

.famfamfam-flags.an {
  width: 16px;
  height: 11px;
  background-position: -16px -23px;
}

.famfamfam-flags.ao {
  width: 16px;
  height: 11px;
  background-position: -32px -23px;
}

.famfamfam-flags.ar {
  width: 16px;
  height: 11px;
  background-position: 0px -34px;
}

.famfamfam-flags.as {
  width: 16px;
  height: 11px;
  background-position: -16px -34px;
}

.famfamfam-flags.at {
  width: 16px;
  height: 11px;
  background-position: -32px -34px;
}

.famfamfam-flags.au {
  width: 16px;
  height: 11px;
  background-position: -48px 0px;
}

.famfamfam-flags.aw {
  width: 16px;
  height: 11px;
  background-position: -48px -11px;
}

.famfamfam-flags.ax {
  width: 16px;
  height: 11px;
  background-position: -48px -22px;
}

.famfamfam-flags.az {
  width: 16px;
  height: 11px;
  background-position: -48px -33px;
}

.famfamfam-flags.ba {
  width: 16px;
  height: 11px;
  background-position: 0px -45px;
}

.famfamfam-flags.bb {
  width: 16px;
  height: 11px;
  background-position: -16px -45px;
}

.famfamfam-flags.bd {
  width: 16px;
  height: 11px;
  background-position: -32px -45px;
}

.famfamfam-flags.be {
  width: 16px;
  height: 11px;
  background-position: -48px -45px;
}

.famfamfam-flags.bf {
  width: 16px;
  height: 11px;
  background-position: -64px 0px;
}

.famfamfam-flags.bg {
  width: 16px;
  height: 11px;
  background-position: -64px -11px;
}

.famfamfam-flags.bh {
  width: 16px;
  height: 11px;
  background-position: -64px -22px;
}

.famfamfam-flags.bi {
  width: 16px;
  height: 11px;
  background-position: -64px -33px;
}

.famfamfam-flags.bj {
  width: 16px;
  height: 11px;
  background-position: -64px -44px;
}

.famfamfam-flags.bm {
  width: 16px;
  height: 11px;
  background-position: 0px -56px;
}

.famfamfam-flags.bn {
  width: 16px;
  height: 11px;
  background-position: -16px -56px;
}

.famfamfam-flags.bo {
  width: 16px;
  height: 11px;
  background-position: -32px -56px;
}

.famfamfam-flags.br {
  width: 16px;
  height: 11px;
  background-position: -48px -56px;
}

.famfamfam-flags.bs {
  width: 16px;
  height: 11px;
  background-position: -64px -56px;
}

.famfamfam-flags.bt {
  width: 16px;
  height: 11px;
  background-position: 0px -67px;
}

.famfamfam-flags.bv {
  width: 16px;
  height: 11px;
  background-position: -16px -67px;
}

.famfamfam-flags.bw {
  width: 16px;
  height: 11px;
  background-position: -32px -67px;
}

.famfamfam-flags.by {
  width: 16px;
  height: 11px;
  background-position: -48px -67px;
}

.famfamfam-flags.bz {
  width: 16px;
  height: 11px;
  background-position: -64px -67px;
}

.famfamfam-flags.ca {
  width: 16px;
  height: 11px;
  background-position: -80px 0px;
}

.famfamfam-flags.catalonia {
  width: 16px;
  height: 11px;
  background-position: -80px -11px;
}

.famfamfam-flags.cc {
  width: 16px;
  height: 11px;
  background-position: -80px -22px;
}

.famfamfam-flags.cd {
  width: 16px;
  height: 11px;
  background-position: -80px -33px;
}

.famfamfam-flags.cf {
  width: 16px;
  height: 11px;
  background-position: -80px -44px;
}

.famfamfam-flags.cg {
  width: 16px;
  height: 11px;
  background-position: -80px -55px;
}

.famfamfam-flags.zm {
  width: 16px;
  height: 11px;
  background-position: -80px -66px;
}

.famfamfam-flags.ci {
  width: 16px;
  height: 11px;
  background-position: 0px -78px;
}

.famfamfam-flags.ck {
  width: 16px;
  height: 11px;
  background-position: -16px -78px;
}

.famfamfam-flags.cl {
  width: 16px;
  height: 11px;
  background-position: -32px -78px;
}

.famfamfam-flags.cm {
  width: 16px;
  height: 11px;
  background-position: -48px -78px;
}

.famfamfam-flags.cn {
  width: 16px;
  height: 11px;
  background-position: -64px -78px;
}

.famfamfam-flags.co {
  width: 16px;
  height: 11px;
  background-position: -80px -78px;
}

.famfamfam-flags.cr {
  width: 16px;
  height: 11px;
  background-position: -96px 0px;
}

.famfamfam-flags.cs {
  width: 16px;
  height: 11px;
  background-position: -96px -11px;
}

.famfamfam-flags.cu {
  width: 16px;
  height: 11px;
  background-position: -96px -22px;
}

.famfamfam-flags.cv {
  width: 16px;
  height: 11px;
  background-position: -96px -33px;
}

.famfamfam-flags.cx {
  width: 16px;
  height: 11px;
  background-position: -96px -44px;
}

.famfamfam-flags.cy {
  width: 16px;
  height: 11px;
  background-position: -96px -55px;
}

.famfamfam-flags.cz {
  width: 16px;
  height: 11px;
  background-position: -96px -66px;
}

.famfamfam-flags.de {
  width: 16px;
  height: 11px;
  background-position: -96px -77px;
}

.famfamfam-flags.dj {
  width: 16px;
  height: 11px;
  background-position: 0px -89px;
}

.famfamfam-flags.dk {
  width: 16px;
  height: 11px;
  background-position: -16px -89px;
}

.famfamfam-flags.dm {
  width: 16px;
  height: 11px;
  background-position: -32px -89px;
}

.famfamfam-flags.do {
  width: 16px;
  height: 11px;
  background-position: -48px -89px;
}

.famfamfam-flags.dz {
  width: 16px;
  height: 11px;
  background-position: -64px -89px;
}

.famfamfam-flags.ec {
  width: 16px;
  height: 11px;
  background-position: -80px -89px;
}

.famfamfam-flags.ee {
  width: 16px;
  height: 11px;
  background-position: -96px -89px;
}

.famfamfam-flags.eg {
  width: 16px;
  height: 11px;
  background-position: 0px -100px;
}

.famfamfam-flags.eh {
  width: 16px;
  height: 11px;
  background-position: -16px -100px;
}

.famfamfam-flags.england {
  width: 16px;
  height: 11px;
  background-position: -32px -100px;
}

.famfamfam-flags.er {
  width: 16px;
  height: 11px;
  background-position: -48px -100px;
}

.famfamfam-flags.es {
  width: 16px;
  height: 11px;
  background-position: -64px -100px;
}

.famfamfam-flags.et {
  width: 16px;
  height: 11px;
  background-position: -80px -100px;
}

.famfamfam-flags.europeanunion {
  width: 16px;
  height: 11px;
  background-position: -96px -100px;
}

.famfamfam-flags.fam {
  width: 16px;
  height: 11px;
  background-position: -112px 0px;
}

.famfamfam-flags.fi {
  width: 16px;
  height: 11px;
  background-position: -112px -11px;
}

.famfamfam-flags.fj {
  width: 16px;
  height: 11px;
  background-position: -112px -22px;
}

.famfamfam-flags.fk {
  width: 16px;
  height: 11px;
  background-position: -112px -33px;
}

.famfamfam-flags.fm {
  width: 16px;
  height: 11px;
  background-position: -112px -44px;
}

.famfamfam-flags.fo {
  width: 16px;
  height: 11px;
  background-position: -112px -55px;
}

.famfamfam-flags.gp, .famfamfam-flags.mf, .famfamfam-flags.re, .famfamfam-flags.yt, .famfamfam-flags.fr {
  width: 16px;
  height: 11px;
  background-position: -112px -66px;
}

.famfamfam-flags.ga {
  width: 16px;
  height: 11px;
  background-position: -112px -77px;
}

.famfamfam-flags.gb {
  width: 16px;
  height: 11px;
  background-position: -112px -88px;
}

.famfamfam-flags.gd {
  width: 16px;
  height: 11px;
  background-position: -112px -99px;
}

.famfamfam-flags.ge {
  width: 16px;
  height: 11px;
  background-position: 0px -111px;
}

.famfamfam-flags.gf {
  width: 16px;
  height: 11px;
  background-position: -16px -111px;
}

.famfamfam-flags.gg {
  width: 16px;
  height: 11px;
  background-position: -32px -111px;
}

.famfamfam-flags.gh {
  width: 16px;
  height: 11px;
  background-position: -48px -111px;
}

.famfamfam-flags.gi {
  width: 16px;
  height: 11px;
  background-position: -64px -111px;
}

.famfamfam-flags.gl {
  width: 16px;
  height: 11px;
  background-position: -80px -111px;
}

.famfamfam-flags.gm {
  width: 16px;
  height: 11px;
  background-position: -96px -111px;
}

.famfamfam-flags.gn {
  width: 16px;
  height: 11px;
  background-position: -112px -111px;
}

.famfamfam-flags.gp {
  width: 16px;
  height: 11px;
  background-position: -128px 0px;
}

.famfamfam-flags.gq {
  width: 16px;
  height: 11px;
  background-position: -128px -11px;
}

.famfamfam-flags.gr {
  width: 16px;
  height: 11px;
  background-position: -128px -22px;
}

.famfamfam-flags.gs {
  width: 16px;
  height: 11px;
  background-position: -128px -33px;
}

.famfamfam-flags.gt {
  width: 16px;
  height: 11px;
  background-position: -128px -44px;
}

.famfamfam-flags.gu {
  width: 16px;
  height: 11px;
  background-position: -128px -55px;
}

.famfamfam-flags.gw {
  width: 16px;
  height: 11px;
  background-position: -128px -66px;
}

.famfamfam-flags.gy {
  width: 16px;
  height: 11px;
  background-position: -128px -77px;
}

.famfamfam-flags.hk {
  width: 16px;
  height: 11px;
  background-position: -128px -88px;
}

.famfamfam-flags.hm {
  width: 16px;
  height: 11px;
  background-position: -128px -99px;
}

.famfamfam-flags.hn {
  width: 16px;
  height: 11px;
  background-position: -128px -110px;
}

.famfamfam-flags.hr {
  width: 16px;
  height: 11px;
  background-position: 0px -122px;
}

.famfamfam-flags.ht {
  width: 16px;
  height: 11px;
  background-position: -16px -122px;
}

.famfamfam-flags.hu {
  width: 16px;
  height: 11px;
  background-position: -32px -122px;
}

.famfamfam-flags.id {
  width: 16px;
  height: 11px;
  background-position: -48px -122px;
}

.famfamfam-flags.ie {
  width: 16px;
  height: 11px;
  background-position: -64px -122px;
}

.famfamfam-flags.il {
  width: 16px;
  height: 11px;
  background-position: -80px -122px;
}

.famfamfam-flags.in {
  width: 16px;
  height: 11px;
  background-position: -96px -122px;
}

.famfamfam-flags.io {
  width: 16px;
  height: 11px;
  background-position: -112px -122px;
}

.famfamfam-flags.iq {
  width: 16px;
  height: 11px;
  background-position: -128px -122px;
}

.famfamfam-flags.ir {
  width: 16px;
  height: 11px;
  background-position: 0px -133px;
}

.famfamfam-flags.is {
  width: 16px;
  height: 11px;
  background-position: -16px -133px;
}

.famfamfam-flags.it {
  width: 16px;
  height: 11px;
  background-position: -32px -133px;
}

.famfamfam-flags.je {
  width: 16px;
  height: 11px;
  background-position: -48px -133px;
}

.famfamfam-flags.jm {
  width: 16px;
  height: 11px;
  background-position: -64px -133px;
}

.famfamfam-flags.jo {
  width: 16px;
  height: 11px;
  background-position: -80px -133px;
}

.famfamfam-flags.jp {
  width: 16px;
  height: 11px;
  background-position: -96px -133px;
}

.famfamfam-flags.ke {
  width: 16px;
  height: 11px;
  background-position: -112px -133px;
}

.famfamfam-flags.kg {
  width: 16px;
  height: 11px;
  background-position: -128px -133px;
}

.famfamfam-flags.kh {
  width: 16px;
  height: 11px;
  background-position: -144px 0px;
}

.famfamfam-flags.ki {
  width: 16px;
  height: 11px;
  background-position: -144px -11px;
}

.famfamfam-flags.km {
  width: 16px;
  height: 11px;
  background-position: -144px -22px;
}

.famfamfam-flags.kn {
  width: 16px;
  height: 11px;
  background-position: -144px -33px;
}

.famfamfam-flags.kp {
  width: 16px;
  height: 11px;
  background-position: -144px -44px;
}

.famfamfam-flags.kr {
  width: 16px;
  height: 11px;
  background-position: -144px -55px;
}

.famfamfam-flags.kw {
  width: 16px;
  height: 11px;
  background-position: -144px -66px;
}

.famfamfam-flags.ae {
  width: 16px;
  height: 11px;
  background-position: -144px -77px;
}

.famfamfam-flags.kz {
  width: 16px;
  height: 11px;
  background-position: -144px -88px;
}

.famfamfam-flags.la {
  width: 16px;
  height: 11px;
  background-position: -144px -99px;
}

.famfamfam-flags.lb {
  width: 16px;
  height: 11px;
  background-position: -144px -110px;
}

.famfamfam-flags.lc {
  width: 16px;
  height: 11px;
  background-position: -144px -121px;
}

.famfamfam-flags.li {
  width: 16px;
  height: 11px;
  background-position: -144px -132px;
}

.famfamfam-flags.lk {
  width: 16px;
  height: 11px;
  background-position: 0px -144px;
}

.famfamfam-flags.lr {
  width: 16px;
  height: 11px;
  background-position: -16px -144px;
}

.famfamfam-flags.ls {
  width: 16px;
  height: 11px;
  background-position: -32px -144px;
}

.famfamfam-flags.lt {
  width: 16px;
  height: 11px;
  background-position: -48px -144px;
}

.famfamfam-flags.lu {
  width: 16px;
  height: 11px;
  background-position: -64px -144px;
}

.famfamfam-flags.lv {
  width: 16px;
  height: 11px;
  background-position: -80px -144px;
}

.famfamfam-flags.ly {
  width: 16px;
  height: 11px;
  background-position: -96px -144px;
}

.famfamfam-flags.ma {
  width: 16px;
  height: 11px;
  background-position: -112px -144px;
}

.famfamfam-flags.mc {
  width: 16px;
  height: 11px;
  background-position: -128px -144px;
}

.famfamfam-flags.md {
  width: 16px;
  height: 11px;
  background-position: -144px -144px;
}

.famfamfam-flags.ad {
  width: 16px;
  height: 11px;
  background-position: -160px 0px;
}

.famfamfam-flags.mg {
  width: 16px;
  height: 11px;
  background-position: -160px -11px;
}

.famfamfam-flags.mh {
  width: 16px;
  height: 11px;
  background-position: -160px -22px;
}

.famfamfam-flags.mk {
  width: 16px;
  height: 11px;
  background-position: -160px -33px;
}

.famfamfam-flags.ml {
  width: 16px;
  height: 11px;
  background-position: -160px -44px;
}

.famfamfam-flags.mm {
  width: 16px;
  height: 11px;
  background-position: -160px -55px;
}

.famfamfam-flags.mn {
  width: 16px;
  height: 11px;
  background-position: -160px -66px;
}

.famfamfam-flags.mo {
  width: 16px;
  height: 11px;
  background-position: -160px -77px;
}

.famfamfam-flags.mp {
  width: 16px;
  height: 11px;
  background-position: -160px -88px;
}

.famfamfam-flags.mq {
  width: 16px;
  height: 11px;
  background-position: -160px -99px;
}

.famfamfam-flags.mr {
  width: 16px;
  height: 11px;
  background-position: -160px -110px;
}

.famfamfam-flags.ms {
  width: 16px;
  height: 11px;
  background-position: -160px -121px;
}

.famfamfam-flags.mt {
  width: 16px;
  height: 11px;
  background-position: -160px -132px;
}

.famfamfam-flags.mu {
  width: 16px;
  height: 11px;
  background-position: -160px -143px;
}

.famfamfam-flags.mv {
  width: 16px;
  height: 11px;
  background-position: 0px -155px;
}

.famfamfam-flags.mw {
  width: 16px;
  height: 11px;
  background-position: -16px -155px;
}

.famfamfam-flags.mx {
  width: 16px;
  height: 11px;
  background-position: -32px -155px;
}

.famfamfam-flags.my {
  width: 16px;
  height: 11px;
  background-position: -48px -155px;
}

.famfamfam-flags.mz {
  width: 16px;
  height: 11px;
  background-position: -64px -155px;
}

.famfamfam-flags.na {
  width: 16px;
  height: 11px;
  background-position: -80px -155px;
}

.famfamfam-flags.nc {
  width: 16px;
  height: 11px;
  background-position: -96px -155px;
}

.famfamfam-flags.ne {
  width: 16px;
  height: 11px;
  background-position: -112px -155px;
}

.famfamfam-flags.nf {
  width: 16px;
  height: 11px;
  background-position: -128px -155px;
}

.famfamfam-flags.ng {
  width: 16px;
  height: 11px;
  background-position: -144px -155px;
}

.famfamfam-flags.ni {
  width: 16px;
  height: 11px;
  background-position: -160px -155px;
}

.famfamfam-flags.bq, .famfamfam-flags.nl {
  width: 16px;
  height: 11px;
  background-position: -176px 0px;
}

.famfamfam-flags.no {
  width: 16px;
  height: 11px;
  background-position: -176px -11px;
}

.famfamfam-flags.za {
  width: 16px;
  height: 11px;
  background-position: -176px -22px;
}

.famfamfam-flags.nr {
  width: 16px;
  height: 11px;
  background-position: -176px -33px;
}

.famfamfam-flags.nu {
  width: 16px;
  height: 11px;
  background-position: -176px -44px;
}

.famfamfam-flags.nz {
  width: 16px;
  height: 11px;
  background-position: -176px -55px;
}

.famfamfam-flags.om {
  width: 16px;
  height: 11px;
  background-position: -176px -66px;
}

.famfamfam-flags.pa {
  width: 16px;
  height: 11px;
  background-position: -176px -77px;
}

.famfamfam-flags.pe {
  width: 16px;
  height: 11px;
  background-position: -176px -88px;
}

.famfamfam-flags.pf {
  width: 16px;
  height: 11px;
  background-position: -176px -99px;
}

.famfamfam-flags.pg {
  width: 16px;
  height: 11px;
  background-position: -176px -110px;
}

.famfamfam-flags.ph {
  width: 16px;
  height: 11px;
  background-position: -176px -121px;
}

.famfamfam-flags.pk {
  width: 16px;
  height: 11px;
  background-position: -176px -132px;
}

.famfamfam-flags.pl {
  width: 16px;
  height: 11px;
  background-position: -176px -143px;
}

.famfamfam-flags.pm {
  width: 16px;
  height: 11px;
  background-position: -176px -154px;
}

.famfamfam-flags.pn {
  width: 16px;
  height: 11px;
  background-position: 0px -166px;
}

.famfamfam-flags.pr {
  width: 16px;
  height: 11px;
  background-position: -16px -166px;
}

.famfamfam-flags.ps {
  width: 16px;
  height: 11px;
  background-position: -32px -166px;
}

.famfamfam-flags.pt {
  width: 16px;
  height: 11px;
  background-position: -48px -166px;
}

.famfamfam-flags.pw {
  width: 16px;
  height: 11px;
  background-position: -64px -166px;
}

.famfamfam-flags.py {
  width: 16px;
  height: 11px;
  background-position: -80px -166px;
}

.famfamfam-flags.qa {
  width: 16px;
  height: 11px;
  background-position: -96px -166px;
}

.famfamfam-flags.re {
  width: 16px;
  height: 11px;
  background-position: -112px -166px;
}

.famfamfam-flags.ro {
  width: 16px;
  height: 11px;
  background-position: -128px -166px;
}

.famfamfam-flags.rs {
  width: 16px;
  height: 11px;
  background-position: -144px -166px;
}

.famfamfam-flags.ru {
  width: 16px;
  height: 11px;
  background-position: -160px -166px;
}

.famfamfam-flags.rw {
  width: 16px;
  height: 11px;
  background-position: -176px -166px;
}

.famfamfam-flags.sa {
  width: 16px;
  height: 11px;
  background-position: 0px -177px;
}

.famfamfam-flags.sb {
  width: 16px;
  height: 11px;
  background-position: -16px -177px;
}

.famfamfam-flags.sc {
  width: 16px;
  height: 11px;
  background-position: -32px -177px;
}

.famfamfam-flags.scotland {
  width: 16px;
  height: 11px;
  background-position: -48px -177px;
}

.famfamfam-flags.sd {
  width: 16px;
  height: 11px;
  background-position: -64px -177px;
}

.famfamfam-flags.se {
  width: 16px;
  height: 11px;
  background-position: -80px -177px;
}

.famfamfam-flags.sg {
  width: 16px;
  height: 11px;
  background-position: -96px -177px;
}

.famfamfam-flags.sh {
  width: 16px;
  height: 11px;
  background-position: -112px -177px;
}

.famfamfam-flags.si {
  width: 16px;
  height: 11px;
  background-position: -128px -177px;
}

.famfamfam-flags.sj {
  width: 16px;
  height: 11px;
  background-position: -144px -177px;
}

.famfamfam-flags.sk {
  width: 16px;
  height: 11px;
  background-position: -160px -177px;
}

.famfamfam-flags.sl {
  width: 16px;
  height: 11px;
  background-position: -176px -177px;
}

.famfamfam-flags.sm {
  width: 16px;
  height: 11px;
  background-position: -192px 0px;
}

.famfamfam-flags.sn {
  width: 16px;
  height: 11px;
  background-position: -192px -11px;
}

.famfamfam-flags.so {
  width: 16px;
  height: 11px;
  background-position: -192px -22px;
}

.famfamfam-flags.sr {
  width: 16px;
  height: 11px;
  background-position: -192px -33px;
}

.famfamfam-flags.st {
  width: 16px;
  height: 11px;
  background-position: -192px -44px;
}

.famfamfam-flags.sv {
  width: 16px;
  height: 11px;
  background-position: -192px -55px;
}

.famfamfam-flags.sy {
  width: 16px;
  height: 11px;
  background-position: -192px -66px;
}

.famfamfam-flags.sz {
  width: 16px;
  height: 11px;
  background-position: -192px -77px;
}

.famfamfam-flags.tc {
  width: 16px;
  height: 11px;
  background-position: -192px -88px;
}

.famfamfam-flags.td {
  width: 16px;
  height: 11px;
  background-position: -192px -99px;
}

.famfamfam-flags.tf {
  width: 16px;
  height: 11px;
  background-position: -192px -110px;
}

.famfamfam-flags.tg {
  width: 16px;
  height: 11px;
  background-position: -192px -121px;
}

.famfamfam-flags.th {
  width: 16px;
  height: 11px;
  background-position: -192px -132px;
}

.famfamfam-flags.tj {
  width: 16px;
  height: 11px;
  background-position: -192px -143px;
}

.famfamfam-flags.tk {
  width: 16px;
  height: 11px;
  background-position: -192px -154px;
}

.famfamfam-flags.tl {
  width: 16px;
  height: 11px;
  background-position: -192px -165px;
}

.famfamfam-flags.tm {
  width: 16px;
  height: 11px;
  background-position: -192px -176px;
}

.famfamfam-flags.tn {
  width: 16px;
  height: 11px;
  background-position: 0px -188px;
}

.famfamfam-flags.to {
  width: 16px;
  height: 11px;
  background-position: -16px -188px;
}

.famfamfam-flags.tr {
  width: 16px;
  height: 11px;
  background-position: -32px -188px;
}

.famfamfam-flags.tt {
  width: 16px;
  height: 11px;
  background-position: -48px -188px;
}

.famfamfam-flags.tv {
  width: 16px;
  height: 11px;
  background-position: -64px -188px;
}

.famfamfam-flags.tw {
  width: 16px;
  height: 11px;
  background-position: -80px -188px;
}

.famfamfam-flags.tz {
  width: 16px;
  height: 11px;
  background-position: -96px -188px;
}

.famfamfam-flags.ua {
  width: 16px;
  height: 11px;
  background-position: -112px -188px;
}

.famfamfam-flags.ug {
  width: 16px;
  height: 11px;
  background-position: -128px -188px;
}

.famfamfam-flags.um {
  width: 16px;
  height: 11px;
  background-position: -144px -188px;
}

.famfamfam-flags.us {
  width: 16px;
  height: 11px;
  background-position: -160px -188px;
}

.famfamfam-flags.uy {
  width: 16px;
  height: 11px;
  background-position: -176px -188px;
}

.famfamfam-flags.uz {
  width: 16px;
  height: 11px;
  background-position: -192px -188px;
}

.famfamfam-flags.va {
  width: 16px;
  height: 11px;
  background-position: -208px 0px;
}

.famfamfam-flags.vc {
  width: 16px;
  height: 11px;
  background-position: -208px -11px;
}

.famfamfam-flags.ve {
  width: 16px;
  height: 11px;
  background-position: -208px -22px;
}

.famfamfam-flags.vg {
  width: 16px;
  height: 11px;
  background-position: -208px -33px;
}

.famfamfam-flags.vi {
  width: 16px;
  height: 11px;
  background-position: -208px -44px;
}

.famfamfam-flags.vn {
  width: 16px;
  height: 11px;
  background-position: -208px -55px;
}

.famfamfam-flags.vu {
  width: 16px;
  height: 11px;
  background-position: -208px -66px;
}

.famfamfam-flags.wales {
  width: 16px;
  height: 11px;
  background-position: -208px -77px;
}

.famfamfam-flags.wf {
  width: 16px;
  height: 11px;
  background-position: -208px -88px;
}

.famfamfam-flags.ws {
  width: 16px;
  height: 11px;
  background-position: -208px -99px;
}

.famfamfam-flags.ye {
  width: 16px;
  height: 11px;
  background-position: -208px -110px;
}

.famfamfam-flags.yt {
  width: 16px;
  height: 11px;
  background-position: -208px -121px;
}

.famfamfam-flags.zw {
  width: 16px;
  height: 11px;
  background-position: -208px -132px;
}

.famfamfam-flags.ch {
  width: 11px;
  height: 11px;
  background-position: -208px -143px;
}

.famfamfam-flags.np {
  width: 9px;
  height: 11px;
  background-position: -208px -154px;
}


/*! Jcrop.css v2.0.4 - build: 20151117
 *  Copyright 2008-2015 Tapmodo Interactive LLC
 *  Free software under MIT License
 **/

/*
  The outer-most container in a typical Jcrop instance
  If you are having difficulty with formatting related to styles
  on a parent element, place any fixes here or in a like selector

  You can also style this element if you want to add a border, etc
  A better method for styling can be seen below with .jcrop-light
  (Add a class to the holder and style elements for that extended class)
*/
.jcrop-active {
  direction: ltr;
  text-align: left;
  box-sizing: border-box;
  /* IE10 touch compatibility */
  -ms-touch-action: none;
}
.jcrop-dragging {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.jcrop-selection {
  z-index: 2;
}
.jcrop-selection.jcrop-current {
  z-index: 4;
}
/* Selection Borders */
.jcrop-border {
  background: #ffffff url("#\local\DNAWorker\Web\src\DNAWorker.Web.Mvc\wwwroot\assets\Jcrop\css\Jcrop.gif");
  line-height: 1px !important;
  font-size: 0 !important;
  overflow: hidden;
  position: absolute;
  filter: alpha(opacity=50) !important;
  opacity: 0.5 !important;
}
.jcrop-border.ord-w,
.jcrop-border.ord-e,
.jcrop-border.ord-n {
  top: 0px;
}
.jcrop-border.ord-n,
.jcrop-border.ord-s {
  width: 100%;
  height: 1px !important;
}
.jcrop-border.ord-w,
.jcrop-border.ord-e {
  height: 100%;
  width: 1px !important;
}
.jcrop-border.ord-e {
  right: -1px;
}
.jcrop-border.ord-n {
  top: -1px;
}
.jcrop-border.ord-w {
  left: -1px;
}
.jcrop-border.ord-s {
  bottom: -1px;
}
.jcrop-selection {
  position: absolute;
}
.jcrop-box {
  z-index: 2;
  display: block;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}
.jcrop-box:hover {
  background: none;
}
.jcrop-box:active {
  background: none;
}
.jcrop-box:focus {
  outline: 1px rgba(128, 128, 128, 0.65) dotted;
}
.jcrop-active,
.jcrop-box {
  position: relative;
}
.jcrop-box {
  width: 100%;
  height: 100%;
  cursor: move;
}
/* Selection Handles */
.jcrop-handle {
  z-index: 4;
  background-color: rgba(49, 28, 28, 0.58);
  border: 1px #eeeeee solid;
  width: 9px;
  height: 9px;
  font-size: 0;
  position: absolute;
  filter: alpha(opacity=80) !important;
  opacity: 0.8 !important;
}
.jcrop-handle.ord-n {
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  top: 0;
  cursor: n-resize;
}
.jcrop-handle.ord-s {
  bottom: 0;
  left: 50%;
  margin-bottom: -5px;
  margin-left: -5px;
  cursor: s-resize;
}
.jcrop-handle.ord-e {
  margin-right: -5px;
  margin-top: -5px;
  right: 0;
  top: 50%;
  cursor: e-resize;
}
.jcrop-handle.ord-w {
  left: 0;
  margin-left: -5px;
  margin-top: -5px;
  top: 50%;
  cursor: w-resize;
}
.jcrop-handle.ord-nw {
  left: 0;
  margin-left: -5px;
  margin-top: -5px;
  top: 0;
  cursor: nw-resize;
}
.jcrop-handle.ord-ne {
  margin-right: -5px;
  margin-top: -5px;
  right: 0;
  top: 0;
  cursor: ne-resize;
}
.jcrop-handle.ord-se {
  bottom: 0;
  margin-bottom: -5px;
  margin-right: -5px;
  right: 0;
  cursor: se-resize;
}
.jcrop-handle.ord-sw {
  bottom: 0;
  left: 0;
  margin-bottom: -5px;
  margin-left: -5px;
  cursor: sw-resize;
}
/* Larger Selection Handles for Touch */
.jcrop-touch .jcrop-handle {
  z-index: 4;
  background-color: rgba(49, 28, 28, 0.58);
  border: 1px #eeeeee solid;
  width: 18px;
  height: 18px;
  font-size: 0;
  position: absolute;
  filter: alpha(opacity=80) !important;
  opacity: 0.8 !important;
}
.jcrop-touch .jcrop-handle.ord-n {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  top: 0;
  cursor: n-resize;
}
.jcrop-touch .jcrop-handle.ord-s {
  bottom: 0;
  left: 50%;
  margin-bottom: -10px;
  margin-left: -10px;
  cursor: s-resize;
}
.jcrop-touch .jcrop-handle.ord-e {
  margin-right: -10px;
  margin-top: -10px;
  right: 0;
  top: 50%;
  cursor: e-resize;
}
.jcrop-touch .jcrop-handle.ord-w {
  left: 0;
  margin-left: -10px;
  margin-top: -10px;
  top: 50%;
  cursor: w-resize;
}
.jcrop-touch .jcrop-handle.ord-nw {
  left: 0;
  margin-left: -10px;
  margin-top: -10px;
  top: 0;
  cursor: nw-resize;
}
.jcrop-touch .jcrop-handle.ord-ne {
  margin-right: -10px;
  margin-top: -10px;
  right: 0;
  top: 0;
  cursor: ne-resize;
}
.jcrop-touch .jcrop-handle.ord-se {
  bottom: 0;
  margin-bottom: -10px;
  margin-right: -10px;
  right: 0;
  cursor: se-resize;
}
.jcrop-touch .jcrop-handle.ord-sw {
  bottom: 0;
  left: 0;
  margin-bottom: -10px;
  margin-left: -10px;
  cursor: sw-resize;
}
/* Selection Dragbars */
.jcrop-dragbar {
  font-size: 0;
  position: absolute;
}
.jcrop-dragbar.ord-n,
.jcrop-dragbar.ord-s {
  height: 9px !important;
  width: 100%;
}
.jcrop-dragbar.ord-e,
.jcrop-dragbar.ord-w {
  top: 0px;
  height: 100%;
  width: 9px !important;
}
.jcrop-dragbar.ord-n {
  margin-top: -5px;
  cursor: n-resize;
  top: 0px;
}
.jcrop-dragbar.ord-s {
  bottom: 0;
  margin-bottom: -5px;
  cursor: s-resize;
}
.jcrop-dragbar.ord-e {
  margin-right: -5px;
  right: 0;
  cursor: e-resize;
}
.jcrop-dragbar.ord-w {
  margin-left: -5px;
  cursor: w-resize;
}
/* Shading panels */
.jcrop-shades {
  position: relative;
  top: 0;
  left: 0;
}
.jcrop-shades div {
  cursor: crosshair;
}
/* Various special states */
.jcrop-noresize .jcrop-dragbar,
.jcrop-noresize .jcrop-handle {
  display: none;
}
.jcrop-selection.jcrop-nodrag .jcrop-box,
.jcrop-nodrag .jcrop-shades div {
  cursor: default;
}
/* The "jcrop-light" class/extension */
.jcrop-light .jcrop-border {
  background: #ffffff;
  filter: alpha(opacity=70) !important;
  opacity: .70!important;
}
.jcrop-light .jcrop-handle {
  background-color: #000000;
  border-color: #ffffff;
}
/* The "jcrop-dark" class/extension */
.jcrop-dark .jcrop-border {
  background: #000000;
  filter: alpha(opacity=70) !important;
  opacity: 0.7 !important;
}
.jcrop-dark .jcrop-handle {
  background-color: #ffffff;
  border-color: #000000;
}
/* Simple macro to turn off the antlines */
.solid-line .jcrop-border {
  background: #ffffff;
}
.jcrop-thumb {
  position: absolute;
  overflow: hidden;
  z-index: 5;
}
/* Fix for twitter bootstrap et al. */
.jcrop-active img,
.jcrop-thumb img,
.jcrop-thumb canvas {
  min-width: none;
  min-height: none;
  max-width: none;
  max-height: none;
}
/* Improved multiple selection styles - in progress */
.jcrop-hl-active .jcrop-border {
  filter: alpha(opacity=20) !important;
  opacity: .20!important;
}
.jcrop-hl-active .jcrop-handle {
  filter: alpha(opacity=10) !important;
  opacity: .10!important;
}
.jcrop-hl-active .jcrop-selection:hover {
  /*
    .jcrop-handle {
      filter:Alpha(opacity=35)!important;
      opacity:.35!important;
    }
    */

}
.jcrop-hl-active .jcrop-selection:hover .jcrop-border {
  background-color: #ccc;
  filter: alpha(opacity=50) !important;
  opacity: .50!important;
}
.jcrop-hl-active .jcrop-selection.jcrop-current .jcrop-border {
  background: #808080 url('#\local\DNAWorker\Web\src\DNAWorker.Web.Mvc\wwwroot\assets\Jcrop\css\Jcrop.gif');
  opacity: .35!important;
  filter: alpha(opacity=35) !important;
}
.jcrop-hl-active .jcrop-selection.jcrop-current .jcrop-handle {
  filter: alpha(opacity=30) !important;
  opacity: .30!important;
}
.jcrop-hl-active .jcrop-selection.jcrop-focus .jcrop-border {
  background: url('#\local\DNAWorker\Web\src\DNAWorker.Web.Mvc\wwwroot\assets\Jcrop\css\Jcrop.gif');
  opacity: .65!important;
  filter: alpha(opacity=65) !important;
}
.jcrop-hl-active .jcrop-selection.jcrop-focus .jcrop-handle {
  filter: alpha(opacity=60) !important;
  opacity: .60!important;
}
/* Prevent background on button element */
button.jcrop-box {
  background: none;
}

@charset "UTF-8";
/*
 * jQuery File Upload Plugin CSS
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * https://opensource.org/licenses/MIT
 */

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}