@using Abp.AspNetZeroCore.Timing
@using Abp.Web.Security.AntiForgery
@using DNAWorker.Web.Theme
@using CultureHelper = DNAWorker.Localization.CultureHelper
@model DNAWorker.Web.Models.Install.InstallViewModel
@inject AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IUiThemeCustomizer UiThemeCustomizer
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
    var theme = UiThemeCustomizer.SelectedTheme;
}
<!DOCTYPE html>
<html lang="en" dir=@(CultureHelper.IsRtl ? "rtl" : "")>
<head>
    <title>DNAWorker Installation</title>

    <link rel="shortcut icon" href="~/favicon.ico" />

    <link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/_Bundles/vendors.bundle.css" asp-append-version="true" />
    <link rel="stylesheet" href="/metronic/dist/html/@theme/assets/demo/@theme/base/style.bundle@(CultureHelper.IsRtl ? "-rtl":"").css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/_Bundles/app-layout-libs.css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/_Bundles/common-styles.css" asp-append-version="true" />

    @if (CultureHelper.IsRtl)
    {
        <link rel="stylesheet" href="/Common/Styles/abp-zero-template-rtl.css" asp-append-version="true" />
    }

    <link rel="stylesheet" abp-href="/view-resources/Views/Install/Index.css" asp-append-version="true" />
</head>
<body class="m-page--boxed m-body--fixed m-header--static m-aside--offcanvas-default" style="background-image: url('/metronic/src/media/app/img/bg/bg-1.jpg');">
    <div class="content">
        <div class="m-content">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">
                    Restarting application...
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        document.location = '/';
    </script>
</body>
</html>
