@using DNAWorker.Web.Areas.AppAreaName.Models.Layout
@using DNAWorker.Web.Areas.AppAreaName.Views.Shared.Components.AppAreaNameSideBar
@using DNAWorker.Web.Theme
@inject IUiThemeCustomizer UiThemeCustomizer
@model MenuViewModel
@{

}
<nav id="m_ver_menu"
     aria-label="@L("LeftMenu")"
     class="m-aside-menu  
            m-aside-menu--skin-@UiThemeCustomizer.LeftAsideAsideSkin 
            m-aside-menu--submenu-skin-@(UiThemeCustomizer.LeftAsideDropdownSubmenuSkin == "inherit" ? UiThemeCustomizer.LeftAsideAsideSkin: UiThemeCustomizer.LeftAsideDropdownSubmenuSkin) 
            @(UiThemeCustomizer.LeftAsideSubmenuToggle == "dropdown" ? "m-aside-menu--dropdown":"")"
     data-menu-vertical="true"
     @(UiThemeCustomizer.LeftAsideSubmenuToggle == "dropdown" ? "data-menu-dropdown=true" : "") 
     @(UiThemeCustomizer.LeftAsideFixedAside ? "data-menu-scrollable=true" : "data-menu-scrollable=false") data-menu-dropdown-timeout="500">
    <ul class="m-menu__nav  @(UiThemeCustomizer.LeftAsideDropdownSubmenuArrow ? "m-menu__nav--dropdown-submenu-arrow":"") " 
        role="menubar" 
        aria-label="@L("LeftMenu")">
        @for (var i = 0; i < Model.Menu.Items.Count; i++)
        {
            var menuItem = Model.Menu.Items[i];
            @Html.Partial("Components/AppAreaNameMenu/_UserMenuItem", new UserMenuItemViewModel
            {
                MenuItem = menuItem,
                MenuItemIndex = i,
                RootLevel = true,
                CurrentPageName = Model.CurrentPageName
            })
        }
    </ul>
</nav>