@using Abp.Application.Services.Dto
@using DNAWorker.Web.Areas.AppAreaName.Models.Common.Modals
@using DNAWorker.Web.Areas.AppAreaName.Models.Languages
@model CreateOrEditLanguageModalViewModel

@Html.Partial("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditLanguage") + ": " + Model.Language.Name) : L("CreateNewLanguage")))

<div class="modal-body">
    <form name="LanguageInformationsForm" role="form" novalidate class="form-validation">
        @if (Model.IsEditMode)
        {
            <input type="hidden" name="Id" value="@Model.Language.Id" />
        }

        <div class="form-group">
            <label for="LanguageNameEdit">@L("Language")</label>
            @Html.DropDownList(
                "Name",
                Model.LanguageNames.Select(i => i.ToSelectListItem()),
                new
                {
                    @class = "form-control selectpicker",
                    data_live_search = "true",
                    id = "LanguageNameEdit"
                })
        </div>
        <div class="form-group">
            <label for="LanguageIconEdit">@L("Flag")</label>
            <select id="LanguageIconEdit" name="Icon" class="form-control bs-select" data-live-search="true">
                @foreach (var flag in Model.Flags)
                {
                    <option data-icon="@flag.Value" value="@flag.Value" selected="@flag.IsSelected"><i class="@flag.Value"></i>@flag.DisplayText</option>
                }
            </select>
        </div>

        <div class="m-checkbox-list">
            <label for="EditLanguage_IsEnabled" class="m-checkbox">
                <input id="EditLanguage_IsEnabled" class="md-check" type="checkbox" name="IsEnabled" value="true" @(Model.Language.IsEnabled || !Model.IsEditMode ? "checked=\"checked\"" : "") />
                @L("IsEnabled")
                <span></span>
            </label>
        </div>

    </form>
</div>

@Html.Partial("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
