<header class="m-grid__item m-header"
        data-minimize="false"
        [attr.data-minimize]="ui.getIsMenuMinimizable()"
        [attr.data-minimize-mobile]="ui.getIsMenuMinimizableMobile()"
        data-minimize-offset="200" data-minimize-mobile-offset="200">
    <div class="m-header__top">
        <div class="m-container {{ui.getContainerClass()}} m-container--xxl m-container--full-height">
            <div class="m-stack m-stack--ver m-stack--desktop">
                <!-- BEGIN: Brand -->
                <div class="m-stack__item m-brand  m-brand--skin-{{ui.getAsideSkin()}} d-print-none">
                    <div class="m-stack m-stack--ver m-stack--general">
                        <div class="m-stack__item m-stack__item--middle m-brand__logo">
                            <a routerLink="/" target="_blank" class="m-brand__logo-wrapper">
                                <img *ngIf="!appSession.tenant || !appSession.tenant.logoId" [src]="defaultLogo" alt="logo" width="139" height="35" />
                                <img *ngIf="appSession.tenant && appSession.tenant.logoId" [src]="remoteServiceBaseUrl + '/TenantCustomization/GetTenantLogo?skin=' + ui.getAsideSkin() + '&tenantId=' + appSession.tenant.id + '&id=' + appSession.tenant.logoId" alt="logo" width="139" height="35" />
                            </a>
                        </div>
                        <div class="m-stack__item m-stack__item--middle m-brand__tools">
                            <!-- BEGIN: Left Aside Minimize Toggle -->
                            <a href="javascript:;" *ngIf="ui.leftMenuUsed() && ui.allowAsideHiding()" id="m_aside_left_hide_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block">
                                <span></span>
                            </a>
                            <a href="javascript:;" *ngIf="ui.leftMenuUsed() && ui.allowAsideMinimizing() && !ui.allowAsideHiding()" id="m_aside_left_minimize_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block">
                                <span></span>
                            </a>
                            <!-- END -->
                            <!-- BEGIN: Responsive Aside Left Menu Toggler-->
                            <a href="javascript:;" *ngIf="ui.leftMenuUsed()" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                                <span></span>
                            </a>
                            <!-- END -->
                            <!-- begin::Responsive Header Menu Toggler-->
                            <a href="javascript:;" *ngIf="ui.topMenuUsed()" id="m_aside_header_menu_mobile_toggle" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                                <span></span>
                            </a>
                            <!-- end::Responsive Header Menu Toggler-->
                            <!-- BEGIN: Topbar Toggler -->
                            <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                                <i class="flaticon-more" [attr.aria-label]="l('Expand')"></i>
                            </a>
                            <!-- BEGIN: Topbar Toggler -->
                        </div>
                    </div>
                </div>
                <!-- END: Brand -->
                <div class="m-stack__item m-stack__item--fluid m-header-head m-brand--skin-{{ui.getHeaderSkin()}} d-print-none" id="m_header_nav">
                    <!-- BEGIN: Topbar -->
                    <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                        <nav class="m-stack__item m-topbar__nav-wrapper" [attr.aria-label]="l('TopMenu')">
                            <ul class="m-topbar__nav m-nav m-nav--inline"
                                aria-label="TopMenu"
                                role="menubar">
                                <li *ngIf="languages.length" class="m-nav__item m-dropdown m-dropdown--large m-dropdown--arrow m-dropdown--align-center m-dropdown--mobile-full-width m-dropdown--skin-light m-list-search m-list-search--skin-light m-dropdown--open dropdown-language">
                                    <a href="javascript:;" class="m-nav__link m-dropdown__toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"
                                       role="menuitem"
                                       aria-haspopup="true"
                                       aria-expanded="false"
                                       tabindex="-1">
                                        <i [class]="currentLanguage.icon"></i>
                                        <span class="m-menu__link-text langname">
                                            {{currentLanguage.displayName}}
                                        </span>
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu"
                                        [attr.aria-label]="l('Languages')"
                                        role="menu">
                                        <li *ngFor="let language of languages" role="none">
                                            <a href="javascript:;" (click)="changeLanguage(language.name)">
                                                <i [class]="language.icon"></i> {{language.displayName}}
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li headerNotifications class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width" data-dropdown-toggle="click" data-dropdown-persistent="true" id="header_notification_bar"></li>

                                <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click">
                                    <a href="javascript:;" class="m-nav__link m-dropdown__toggle"
                                       role="menuitem"
                                       aria-haspopup="true"
                                       aria-expanded="false"
                                       tabindex="0">
                                        <span class="m-topbar__username m--font-primary">
                                            <i *ngIf="isImpersonatedLogin" class="fa fa-reply m--font-danger"></i>
                                            <span *ngIf="isMultiTenancyEnabled" class="tenancy-name">{{tenancyName}}\</span>{{userName}}
                                        </span>
                                        <span class="m-topbar__userpic">
                                            <img *ngIf="profilePicture" alt="" class="header-profile-picture m--img-rounded m--marginless m--img-centered" [src]="profilePicture" />
                                        </span>
                                    </a>
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__header m--align-center"  [ngStyle]="{ 'background': 'url(' + appRootUrl() + 'assets/metronic/dist/html/' + ui.getTheme() + '/assets/demo/' + ui.getTheme() + '/media/img/misc/user_profile_bg.jpg)', 'background-size': 'cover'}">
                                                <div class="m-card-user m-card-user--skin-dark">
                                                    <div class="m-card-user__pic">
                                                        <img alt="" class="header-profile-picture m--img-rounded m--marginless m--img-centered" [src]="profilePicture" />
                                                    </div>
                                                    <div class="m-card-user__details">
                                                        <span class="m-card-user__name m--font-weight-500">
                                                            {{shownLoginName}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-dropdown__body">
                                                <nav class="m-dropdown__content" [attr.aria-label]="l('UserAccount')">
                                                    <ul class="m-nav m-nav--skin-light"
                                                        [attr.aria-label]="l('UserAccount')"
                                                        role="menu">
                                                        <li *ngIf="isImpersonatedLogin" class="m-nav__item" role="none">
                                                            <a href="javascript:;" class="m-nav__link" (click)="backToMyAccount()"
                                                               role="menuitem"
                                                               aria-haspopup="true"
                                                               aria-expanded="false"
                                                               tabindex="-1">
                                                                <i class="m-nav__link-icon fa fa-reply m--font-danger"></i>
                                                                <span class="m-nav__link-title">
                                                                    <span class="m-nav__link-wrap">
                                                                        <span id="UserProfileBackToMyAccountButton" class="m-nav__link-text">
                                                                            {{l("BackToMyAccount")}}
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li *ngIf="isImpersonatedLogin" class="m-nav__separator m-nav__separator--fit" role="none"></li>
                                                        <li class="m-nav__item" role="none">
                                                            <a href="javascript:;" class="m-nav__link" (click)="showLinkedAccounts()"
                                                               role="menuitem"
                                                               aria-haspopup="true"
                                                               aria-expanded="false"
                                                               tabindex="-1">
                                                                <i class="m-nav__link-icon flaticon-user-settings"></i>
                                                                <span class="m-nav__link-title">
                                                                    <span class="m-nav__link-wrap">
                                                                        <span id="ManageLinkedAccountsLink" class="m-nav__link-text">
                                                                            {{l("ManageLinkedAccounts")}}
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </a>
                                                            <ul id="RecentlyUsedLinkedUsers" class="m-nav linked-accounts" *ngIf="recentlyLinkedUsers"
                                                                [attr.aria-label]="l('LinkedAccounts')"
                                                                role="menu">
                                                                <li *ngFor="let linkedUser of recentlyLinkedUsers" class="m-nav__item" role="none">
                                                                    <a href="javascript:;" (click)="switchToLinkedUser(linkedUser)" class="m-nav__link"
                                                                       role="menuitem"
                                                                       aria-haspopup="true"
                                                                       aria-expanded="false"
                                                                       tabindex="-1">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot">
                                                                            <span></span>
                                                                        </span>
                                                                        <span class="m-nav__link-text">
                                                                            {{getShownUserName(linkedUser)}}
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="m-nav__separator m-nav__separator--fit" role="none"></li>
                                                        <li class="m-nav__item" role="none">
                                                            <a href="javascript:;" class="m-nav__link" (click)="changePassword()"
                                                               role="menuitem"
                                                               aria-haspopup="true"
                                                               aria-expanded="false"
                                                               tabindex="-1">
                                                                <i class="m-nav__link-icon flaticon-more-v6"></i>
                                                                <span class="m-nav__link-title">
                                                                    <span class="m-nav__link-wrap">
                                                                        <span id="UserProfileChangePasswordLink" class="m-nav__link-text">
                                                                            {{l("ChangePassword")}}
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item" role="none">
                                                            <a href="javascript:;" class="m-nav__link" (click)="showLoginAttempts()"
                                                               role="menuitem"
                                                               aria-haspopup="true"
                                                               aria-expanded="false"
                                                               tabindex="-1">
                                                                <i class="m-nav__link-icon flaticon-list"></i>
                                                                <span class="m-nav__link-title">
                                                                    <span class="m-nav__link-wrap">
                                                                        <span id="ShowLoginAttemptsLink" class="m-nav__link-text">
                                                                            {{l("LoginAttempts")}}
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item" role="none">
                                                            <a href="javascript:;" class="m-nav__link" (click)="changeProfilePicture()"
                                                               role="menuitem"
                                                               aria-haspopup="true"
                                                               aria-expanded="false"
                                                               tabindex="-1">
                                                                <i class="m-nav__link-icon flaticon-profile-1"></i>
                                                                <span class="m-nav__link-title">
                                                                    <span class="m-nav__link-wrap">
                                                                        <span id="UserProfileChangePictureLink" class="m-nav__link-text">
                                                                            {{l("ChangeProfilePicture")}}
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item" role="none">
                                                            <a href="javascript:;" class="m-nav__link" (click)="changeMySettings()"
                                                               role="menuitem"
                                                               aria-haspopup="true"
                                                               aria-expanded="false"
                                                               tabindex="-1">
                                                                <i class="m-nav__link-icon flaticon-cogwheel"></i>
                                                                <span class="m-nav__link-title">
                                                                    <span class="m-nav__link-wrap">
                                                                        <span id="UserProfileMySettingsLink" class="m-nav__link-text">
                                                                            {{l("MySettings")}}
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item" *ngIf="!isGranted('Pages.Administration.UiCustomization')" role="none">
                                                            <a routerLink="admin/ui-customization" class="m-nav__link"
                                                               role="menuitem"
                                                               aria-haspopup="true"
                                                               aria-expanded="false"
                                                               tabindex="-1">
                                                                <i class="m-nav__link-icon flaticon-medical"></i>
                                                                <span class="m-nav__link-title">
                                                                    <span class="m-nav__link-wrap">
                                                                        <span class="m-nav__link-text">
                                                                            {{l("VisualSettings")}}
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__separator m-nav__separator--fit" role="none"></li>
                                                        <li class="m-nav__item" role="none">
                                                            <a href="javascript:;" (click)="logout()" class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder"
                                                               role="menuitem"
                                                               aria-haspopup="true"
                                                               aria-expanded="false"
                                                               tabindex="-1">{{l("Logout")}}</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="chatEnabled && !chatConnected" class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width">
                                    <a href="javascript:;" class="m-nav__link"
                                       role="menuitem"
                                       aria-haspopup="true"
                                       aria-expanded="false"
                                       tabindex="-1">
                                        <span class="m-nav__link-icon">
                                            <img *ngIf="!chatConnected" src="./assets/common/images/loading.gif" style="width: 23px;" tooltip="{{l('ChatIsConnecting')}}" placement="left" />
                                        </span>
                                    </a>
                                </li>
                                <li [hidden]="!chatEnabled || !chatConnected" id="m_quick_sidebar_toggle" class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width">
                                    <a href="javascript:;" class="m-nav__link m-dropdown__toggle"
                                       role="menuitem"
                                       aria-haspopup="true"
                                       aria-expanded="false"
                                       tabindex="-1">
                                        <span class="m-nav__link-icon">
                                            <i class="flaticon-chat"></i>
                                        </span>
                                        <span class="m-badge m-badge--danger" [ngClass]="{'d-none': !unreadChatMessageCount}" id="UnreadChatMessageCount">{{unreadChatMessageCount}}</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- END: Topbar -->
                </div>
            </div>
        </div>
    </div>
    <div class="m-header__bottom m-aside-menu--skin-{{s('App.UiManagement.Left.AsideSkin')}}" *ngIf="ui.topMenuUsed()">
        <top-bar-menu></top-bar-menu>
    </div>
    <div *ngIf="subscriptionStatusBarVisible()"
         [ngClass]="{'hidden': !subscriptionStatusBarVisible()}" class="alert hidden subscription-info">
        <span *ngIf="tenant.isInTrialPeriod && !subscriptionIsExpiringSoon()" [innerHTML]="getTrialSubscriptionNotification()"></span>
        <a *ngIf="subscriptionIsExpiringSoon()" routerLink="/app/admin/subscription-management">
            <span *ngIf="subscriptionIsExpiringSoon() && tenant.isInTrialPeriod"><i class="fa fa-exclamation-circle"></i> {{getExpireNotification("TrialExpireNotification")}}</span>
            <span *ngIf="subscriptionIsExpiringSoon() && !tenant.isInTrialPeriod"><i class="fa fa-exclamation-circle"></i> {{getExpireNotification("SubscriptionExpireNotification")}}</span>
        </a>
    </div>
</header>
<loginAttemptsModal #loginAttemptsModal></loginAttemptsModal>
<linkedAccountsModal #linkedAccountsModal (modalClose)="getRecentlyLinkedUsers()"></linkedAccountsModal>
<changePasswordModal #changePasswordModal></changePasswordModal>
<changeProfilePictureModal #changeProfilePictureModal></changeProfilePictureModal>
<mySettingsModal #mySettingsModal (modalSave)="onMySettingsModalSaved()"></mySettingsModal>
<notificationSettingsModal #notificationSettingsModal></notificationSettingsModal>
